<?xml version="1.0"?>
<ArrayOfModulePage xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- 用户管理 begin -->
  <ModulePage>
    <ModuleID>100</ModuleID>
    <ModuleName>用户管理</ModuleName>
    <PageName>AccountsList.aspx,AccountsInfo.aspx,AccountsDetailInfo.aspx,AccountsGoldInfo.aspx,AccountsScoreInfo.aspx,AccountsRecordInfo.aspx,AddAccount.aspx,AccountsProtectInfo.aspx,RecordAccountsExpendList.aspx,RecordPasswdExpendList.aspx,RecordPasswdExpendConfirm.aspx,RecordDrawInfoList.aspx,RecordGrantTreasureList.aspx,GrantTreasure.aspx,RecordGrantExperienceList.aspx,GrantExperience.aspx,GrantMember.aspx,RecordGrantMemberList.aspx,GrantScore.aspx,RecordGrantScoreList.aspx,GrantClearScore.aspx,RecordGrantClearScoreList.aspx,GrantFlee.aspx,RecordGrantClearFlee.aspx,GrantGameID.aspx,RecordGrantGameIDList.aspx,RecordUserInoutList.aspx,RecordUserScoreInoutList.aspx,RecordInsureList.aspx,ShareDetailList.aspx,RecordConvertPresentList.aspx,RecordConvertMedalList.aspx,AccountsMemberList.aspx,AccountPasswordCard.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>101</ModuleID>
    <ModuleName>金币管理</ModuleName>
    <PageName>AccountsGoldList.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>102</ModuleID>
    <ModuleName>积分管理</ModuleName>
    <PageName>AccountsScoreList.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>103</ModuleID>
    <ModuleName>银行记录</ModuleName>
    <PageName>AccountsInsureList.aspx</PageName>
  </ModulePage>

  <ModulePage>
    <ModuleID>104</ModuleID>
    <ModuleName>限制用户名</ModuleName>
    <PageName>ConfineContentList.aspx,ConfineContenInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>105</ModuleID>
    <ModuleName>限制IP地址</ModuleName>
    <PageName>ConfineAddressList.aspx,ConfineAddressInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>106</ModuleID>
    <ModuleName>限制机器码</ModuleName>
    <PageName>ConfineMachineList.aspx,ConfineMachineInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>107</ModuleID>
    <ModuleName>机器人管理</ModuleName>
    <PageName>AndroidList.aspx,AndroidInfo.aspx,AndroidAdd.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>108</ModuleID>
    <ModuleName>魅力管理</ModuleName>
    <PageName>AccountsConvertPresentList.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>109</ModuleID>
    <ModuleName>正在游戏玩家</ModuleName>
    <PageName>GameScoreLockerList.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>110</ModuleID>
    <ModuleName>奖牌管理</ModuleName>
    <PageName>RecordConvertMedalList.aspx</PageName>
  </ModulePage>
  <!-- 用户管理 end -->


  <!-- 充值系统 begin -->
  <ModulePage>
    <ModuleID>200</ModuleID>
    <ModuleName>实卡管理</ModuleName>
    <PageName>LivcardBuildStreamList.aspx,LivcardAssociatorList.aspx,LivcardAssociatorInfo.aspx,LivcardCreate.aspx,GlobalLivcardList.aspx,GlobalLivcardInfo.aspx,LivcardStat.aspx,LivcardEdit.aspx,LivcardAssociatorListByStat.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>202</ModuleID>
    <ModuleName>订单管理</ModuleName>
    <PageName>OnLineOrderList.aspx,OnLineOrderInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>203</ModuleID>
    <ModuleName>充值记录</ModuleName>
    <PageName>ShareInfoList.aspx</PageName>
  </ModulePage>

  <ModulePage>
    <ModuleID>205</ModuleID>
    <ModuleName>快钱记录</ModuleName>
    <PageName>OrderKQList.aspx,OrderKQInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>206</ModuleID>
    <ModuleName>易宝记录</ModuleName>
    <PageName>OrderYPList.aspx,OrderYPInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>207</ModuleID>
    <ModuleName>天天付记录</ModuleName>
    <PageName>OrderDayList.aspx,OrderDayInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>208</ModuleID>
    <ModuleName>声讯记录</ModuleName>
    <PageName>OrderVBList.aspx,OrderVBInfo.aspx</PageName>
  </ModulePage>

  <!-- 充值系统 end -->

  <!-- 游戏系统 begin -->
  <ModulePage>
    <ModuleID>300</ModuleID>
    <ModuleName>机器管理</ModuleName>
    <PageName>DataBaseInfoList.aspx,DataBaseInfoInfo.aspx</PageName>
  </ModulePage>

  <ModulePage>
    <ModuleID>301</ModuleID>
    <ModuleName>游戏管理</ModuleName>
    <PageName>GameGameItemList.aspx,GameGameItemInfo.aspx,GameTypeItemList.aspx,GameTypeItemInfo.aspx,GameKindItemList.aspx,GameKindItemInfo.aspx,GameNodeItemList.aspx,GameNodeItemInfo.aspx,GamePageItemList.aspx,GamePageItemInfo.aspx</PageName>
  </ModulePage>

  <ModulePage>
    <ModuleID>302</ModuleID>
    <ModuleName>房间管理</ModuleName>
    <PageName>GameRoomInfoList.aspx,GameRoomInfoInfo.aspx</PageName>
  </ModulePage>

  <ModulePage>
    <ModuleID>303</ModuleID>
    <ModuleName>系统消息</ModuleName>
    <PageName>SystemMessageList.aspx,SystemMessageInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>304</ModuleID>
    <ModuleName>系统设置</ModuleName>
    <PageName>SystemSet.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>305</ModuleID>
    <ModuleName>道具管理</ModuleName>
    <PageName>GamePropertyManager.aspx,GamePropertyInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>307</ModuleID>
    <ModuleName>在线统计</ModuleName>
    <PageName>StatOnline.aspx,StatOnlineInfo.aspx,StatOnlineGame.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>308</ModuleID>
    <ModuleName>泡点设置</ModuleName>
    <PageName>GlobalPlayPresentList.aspx,GlobalPlayPresentInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>309</ModuleID>
    <ModuleName>推广管理</ModuleName>
    <PageName>SpreadSet.aspx,SpreadManager.aspx,FinanceInfo.aspx,SpreadInfo.aspx</PageName>
  </ModulePage>
  <!-- 游戏系统 end -->

  <!-- 网站系统 begin -->
  <ModulePage>
    <ModuleID>400</ModuleID>
    <ModuleName>新闻管理</ModuleName>
    <PageName>NewsList.aspx,NewsInfo.aspx</PageName>
  </ModulePage>

  <ModulePage>
    <ModuleID>404</ModuleID>
    <ModuleName>规则管理</ModuleName>
    <PageName>RulesList.aspx,RulesInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>402</ModuleID>
    <ModuleName>弹出页面</ModuleName>
    <PageName>NoticeList.aspx,NoticeInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>405</ModuleID>
    <ModuleName>问题管理</ModuleName>
    <PageName>IssueList.aspx,IssueInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>406</ModuleID>
    <ModuleName>比赛管理</ModuleName>
    <PageName>MatchList.aspx,MatchInfo.aspx,MatchUserList.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>407</ModuleID>
    <ModuleName>反馈管理</ModuleName>
    <PageName>FeedbackList.aspx,FeedbackInfo.aspx</PageName>
  </ModulePage>


  <!-- 网站系统 end -->

  <!-- 后台系统 begin -->
  <ModulePage>
    <ModuleID>500</ModuleID>
    <ModuleName>管理员管理</ModuleName>
    <PageName>BaseRoleList.aspx,BaseRoleInfo.aspx,BaseRolePermission.aspx,BaseUserList.aspx,BaseUserInfo.aspx,BaseUserUpdate.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>501</ModuleID>
    <ModuleName>系统设置</ModuleName>
    <PageName>SystemSet.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>502</ModuleID>
    <ModuleName>系统统计</ModuleName>
    <PageName>SystemStat.aspx</PageName>
  </ModulePage>
  <!-- 后台系统 end -->

  <!-- 操作日志 begin -->
  <ModulePage>
    <ModuleID>600</ModuleID>
    <ModuleName>安全日志</ModuleName>
    <PageName>SystemSecurityList.aspx</PageName>
  </ModulePage>

  <!-- 操作日志 end -->

</ArrayOfModulePage>